@model Parqueadero.Models.Usuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="todo">

    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Usuarios</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "infos" } })
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "infos" } })
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoUsuario, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">
                    <div class="esto">
                        <select class="form-control" name="TipoUsuario">
                            <option>Seleccione..</option>
                            <option>Administrativo</option>
                            <option>Docente</option>
                            <option>Estudiate</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "infos" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">
                    <div class="esto">
                        <select class="form-control" name="TipoDocumento">
                            <option>Seleccione..</option>
                            <option>Cedula de Ciudadania</option>
                            <option>Tarjeta de Indentidad</option>
                            <option>Cedula Extranjera</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumeroDocumeto, htmlAttributes: new { @class = "info" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.NumeroDocumeto, new { htmlAttributes = new { @class = "infos" } })
                    @Html.ValidationMessageFor(model => model.NumeroDocumeto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="boton" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "volver" })
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
