@model Parqueadero.Models.Usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="todo">
    <h2>Delete</h2>

    
    <div>
        <h4>Usuarios</h4>
        <div class="info">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombres)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombres)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoUsuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoUsuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoDocumento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoDocumento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroDocumeto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroDocumeto)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="boton" /> 
                    
                </div>
                <div class="form-actions">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "volver" })
                </div>
            }
        </div>
    </div>
</div>