@model Parqueadero.Models.VehiculosR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="todo">
    <h2>Delete</h2>

    <h4>Registar Vehiculo</h4>
    <div class="info">
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoVehiculo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoVehiculo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Placa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Placa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Marca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuarios.Nombres)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuarios.Nombres)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="boton" />
                </div>
                <div class="form-actions">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "volver" })
                </div>
            }
        </div>
    </div>
</div>